In [2]:
import numpy as np

In [3]:
import pandas as pd

In [4]:
import matplotlib.pyplot as plt

In [5]:
df = pd.read_csv('Salary_Data.csv')
df.head(7)

   YearsExperience   Salary
0              1.1  39343.0
1              1.3  46205.0
2              1.5  37731.0
3              2.0  43525.0
4              2.2  39891.0
5              2.9  56642.0
6              3.0  60150.0

In [9]:
X = df['YearsExperience'].values
Y = df['Salary'].values

In [11]:
#Find mean
Xmean=np.mean(X)
Ymean=np.mean(Y)

In [13]:
#Find the slope
#Numerator = summation(X=Xmean)(Y-Ymean)
numerrator = np.sum((X-Xmean)*(Y-Ymean))

In [22]:
denominator=np.sum((X-Xmean)**2)
slope = numerrator/denominator

#Find the intercept
intercept=Ymean-(slope*Xmean)

In [26]:
def regressor(m,x,c):
    return m*x + c

In [27]:
pred=regressor(slope,X,intercept)
pred

array([ 36187.15875227,  38077.15121656,  39967.14368085,  44692.12484158,
        46582.11730587,  53197.09093089,  54142.08716303,  56032.07962732,
        56032.07962732,  60757.06078805,  62647.05325234,  63592.04948449,
        63592.04948449,  64537.04571663,  68317.03064522,  72097.0155738 ,
        73987.00803809,  75877.00050238,  81546.97789525,  82491.9741274 ,
        90051.94398456,  92886.932681  , 100446.90253816, 103281.8912346 ,
       108006.87239533, 110841.86109176, 115566.84225249, 116511.83848464,
       123126.81210966, 125016.80457395])

In [28]:
#To predict the salary from the actual salary
pd.DataFrame({
    'YearsExperience': X,
    'ActualSalary': Y,
    'PredictedSalary': pred 
})

    YearsExperience  ActualSalary  PredictedSalary
0               1.1       39343.0     36187.158752
1               1.3       46205.0     38077.151217
2               1.5       37731.0     39967.143681
3               2.0       43525.0     44692.124842
4               2.2       39891.0     46582.117306
5               2.9       56642.0     53197.090931
6               3.0       60150.0     54142.087163
7               3.2       54445.0     56032.079627
8               3.2       64445.0     56032.079627
9               3.7       57189.0     60757.060788
10              3.9       63218.0     62647.053252
11              4.0       55794.0     63592.049484
12              4.0       56957.0     63592.049484
13              4.1       57081.0     64537.045717
14              4.5       61111.0     68317.030645
15              4.9       67938.0     72097.015574
16              5.1       66029.0     73987.008038
17              5.3       83088.0     75877.000502
18              5.9       81363.0     81546.977895
19              6.0       93940.0     82491.974127
20              6.8       91738.0     90051.943985
21              7.1       98273.0     92886.932681
22              7.9      101302.0    100446.902538
23              8.2      113812.0    103281.891235
24              8.7      109431.0    108006.872395
25              9.0      105582.0    110841.861092
26              9.5      116969.0    115566.842252
27              9.6      112635.0    116511.838485
28             10.3      122391.0    123126.812110
29             10.5      121872.0    125016.804574