In [2]:
import numpy as np

In [3]:
import pandas as pd

In [4]:
import matplotlib.pyplot as plt

In [5]:
df = pd.read_csv('Salary_Data.csv')
df.head(7)

   YearsExperience   Salary
0              1.1  39343.0
1              1.3  46205.0
2              1.5  37731.0
3              2.0  43525.0
4              2.2  39891.0
5              2.9  56642.0
6              3.0  60150.0

In [9]:
X = df['YearsExperience'].values
Y = df['Salary'].values

In [11]:
#Find mean
Xmean=np.mean(X)
Ymean=np.mean(Y)

In [13]:
#Find the slope
#Numerator = summation(X=Xmean)(Y-Ymean)
numerrator = np.sum((X-Xmean)*(Y-Ymean))

In [21]:
denominator=np.sum((X-Xmean)**2)
slope = numerrator/denominator

#Find the intercept
intercept=Ymean-(slope*Xmean)